<!doctype html>
<html lang="en">
    <!-- Зеленый #7FBA27
    Синий #526BA1
    Фон #303031
    Блоки #444444 -->

    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
        />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
            crossorigin="anonymous"
        />
        <title>Events</title>
    </head>
    <body
        class="background"
        style="
            background-color: #303031;
            background-image: url(../../media/image/frontend/фон.png);
            background-repeat: no-repeat;
            background-size: 100%;
            <!-- background-position-x: right; -->
        "
    >
        <div class="container">
            <header
                class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4"
                style="margin-left: -100px"
            >
                <div class="col-md-3 mb-2 mb-md-0">
                    <a
                        href="/"
                        class="d-inline-flex link-body-emphasis text-decoration-none"
                    >
                        <svg
                            class="bi"
                            width="40"
                            height="32"
                            role="img"
                            aria-label="Bootstrap"
                        >
                            <use xlink:href="#bootstrap"></use>
                        </svg>
                    </a>
                </div>

                <ul
                    class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"
                >
                    <li>
                        <a href="#" class="nav-link px-2 link-secondary"
                            >Home</a
                        >
                    </li>
                    <li>
                        <a href="test/" class="nav-link px-2">List Events</a>
                    </li>

                    <li>
                        <a href="eventcreate/" class="nav-link px-2"
                            >Create Events</a
                        >
                    </li>
                    <li>
                        <a href="eventupdate/" class="nav-link px-2"
                            >Update Events</a
                        >
                    </li>
                    <li>
                        <a href="eventdelete/" class="nav-link px-2"
                            >Delet Events</a
                        >
                    </li>
                    <li><a href="" class="nav-link px-2">List Events</a></li>
                    <li><a href="admin/" class="nav-link px-2">Admine</a></li>
                </ul>

                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-outline-primary me-2">
                        Login
                    </button>
                    <button type="button" class="btn btn-primary">
                        Sign-up
                    </button>
                </div>
            </header>
        </div>
        <div class="container text-center">
            {% if object_list %} {% for obj in object_list %}
            <div class="row align-items-start">
                <div class="col-2"></div>
                <div class="col">
                    <div
                        class="card mb-3"
                        style="
                            max-width: 1000px;
                            max-height: 200px;
                            padding-bottom: 400px;
                            background-color: #444444;
                        "
                    >
                        <div style="margin-bottom: 20px">
                            <img
                                width="60"
                                height="60"
                                src="../../media/image/frontend/user_icon.png"
                                style="
                                    float: left;
                                    margin-top: 10px;
                                    margin-right: 10px;
                                "
                            />
                            <a>ТЕг организатора</a>

                            <button
                                type="button"
                                class="btn btn-outline-success"
                                style="
                                    padding-bottom: 16px;
                                    float: right;
                                    margin-right: 10px;
                                    color: #7fba27;
                                    padding-top: 16px;
                                    margin-top: 11px;
                                "
                            >
                                Подписаться</button
                            >right
                            <img
                                width="60"
                                height="60"
                                src="../../media/image/frontend/mail_icon.png"
                                style="
                                    float: right;
                                    margin-top: 10px;
                                    margin-right: 10px;
                                "
                            />
                        </div>
                        <div
                            class="border"
                            style="margin-top: -10px; margin-bottom: 15px"
                        ></div>
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img
                                    src="{{ obj.image }}"
                                    class="img-fluid rounded-start"
                                    alt="{{ obj.title }}"
                                />
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" style="color: white">
                                        {{ obj.title }}
                                    </h5>
                                    <p class="card-text" style="color: white">
                                        {{ obj.description }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div
                        class="alert"
                        role="alert"
                        style="background-color: #444444"
                    >
                        <h4 class="alert-heading" style="color: white">
                            О нас!!!
                        </h4>
                        <p style="color: white">О нас</p>
                        <hr />
                        <p class="mb-0" style="color: white">
                            Ну и корче говоим что хотим делаем что хоти и так
                            далее.
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %} {% else %}
            <p>Мероприяти я отсутсвуют</p>
            {% endif %}
        </div>
    </body>
</html>
